<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>Controller.CreateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordChangeServlet</servlet-name>
        <servlet-class>Controller.PasswordChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeEditServlet</servlet-name>
        <servlet-class>Controller.EmployeeEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeAccessServlet</servlet-name>
        <servlet-class>Controller.EmployeeAccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionInputServlet</servlet-name>
        <servlet-class>Controller.TransactionInputServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuRequestServlet</servlet-name>
        <servlet-class>Controller.MenuRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMenuItemServlet</servlet-name>
        <servlet-class>Controller.AddMenuItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionOutputServlet</servlet-name>
        <servlet-class>Controller.TransactionOutputServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionListServlet</servlet-name>
        <servlet-class>Controller.TransactionListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCategoryServlet</servlet-name>
        <servlet-class>Controller.CreateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartDayServlet</servlet-name>
        <servlet-class>Controller.StartDayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartShiftServlet</servlet-name>
        <servlet-class>Controller.StartShiftServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IsAlive</servlet-name>
        <servlet-class>Controller.IsAlive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMenuItemServlet</servlet-name>
        <servlet-class>Controller.EditMenuItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordResetServlet</servlet-name>
        <servlet-class>Controller.PasswordResetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/CreateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordChangeServlet</servlet-name>
        <url-pattern>/PasswordChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeEditServlet</servlet-name>
        <url-pattern>/EmployeeEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeAccessServlet</servlet-name>
        <url-pattern>/EmployeeAccessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionInputServlet</servlet-name>
        <url-pattern>/TransactionInputServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuRequestServlet</servlet-name>
        <url-pattern>/MenuRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMenuItemServlet</servlet-name>
        <url-pattern>/AddMenuItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionOutputServlet</servlet-name>
        <url-pattern>/TransactionOutputServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionListServlet</servlet-name>
        <url-pattern>/TransactionListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCategoryServlet</servlet-name>
        <url-pattern>/CreateCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartDayServlet</servlet-name>
        <url-pattern>/StartDayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartShiftServlet</servlet-name>
        <url-pattern>/StartShiftServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IsAlive</servlet-name>
        <url-pattern>/IsAlive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMenuItemServlet</servlet-name>
        <url-pattern>/EditMenuItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordResetServlet</servlet-name>
        <url-pattern>/PasswordResetServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
